<%- include('../layout/top') %>

  <main>
    
    <div class="sub-header">
      <h2> (<span><%= bookArray.length %></span>) Saved Books (Home Page)</h2>
    </div>

    <div class="resultContainer">
      <% for (book of bookArray) { %>
        <div class="resultBox">
          <img src="<%= book.image_url %>" alt="">
          <h3><%= book.title %></h3>
          <p><%= book.author %></p>
          <a href="/books/<%= book.id %>">View Details</a>
        </div>
      <% } %>
    </div>

  </main>

<%- include('../layout/bottom') %>